.btn {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease-in-out;
}


.page-header__form-btn {

}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.btn--search {
	position: relative;
	width: 12rem;
	height: auto;
}

.btn--search:hover {
	.circle {
		width: 100%;
		.icon {
			&.arrow {
				background: #fff;
				transform: translate(1rem, 0);
			}
		}
	}
	.btn-text {
		color: #fff;
	}
}

.btn--search .circle {
	@include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
	position: relative;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #5e4937;
	border-radius: 1.625rem;
}

.btn--search .icon {
	@include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}


.icon.arrow {
	@include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
	&::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
	}
}

.btn-text {
	@include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
	position: absolute;
	width: 150px;
	top: 0;
	left: 10px;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	color: #5e4937;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}