@font-face {
  font-family: 'ApercuPro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ApercuPro-Light.eot'); /* IE9 Compat Modes */
  src: local('ApercuPro Light'), local('ApercuPro-Light'),
       url('../fonts/ApercuPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ApercuPro-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ApercuPro-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ApercuPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ApercuPro-Light.svg#ApercuPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ApercuPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ApercuPro-Regular.eot'); /* IE9 Compat Modes */
  src: local('ApercuPro Regular'), local('ApercuPro-Regular'),
       url('../fonts/ApercuPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ApercuPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ApercuPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ApercuPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ApercuPro-Regular.svg#ApercuPro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ApercuPro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ApercuPro-Bold.eot'); /* IE9 Compat Modes */
  src: local('ApercuPro Bold'), local('ApercuPro-Bold'),
       url('../fonts/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ApercuPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ApercuPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ApercuPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ApercuPro-Bold.svg#') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ApercuPro';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/ApercuPro-Medium.eot'); /* IE9 Compat Modes */
  src: local('ApercuPro Medium'), local('ApercuPro-Medium'),
       url('../fonts/ApercuPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ApercuPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ApercuPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ApercuPro-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ApercuPro-Medium.svg#') format('svg'); /* Legacy iOS */
}